
#aside-content .card-widget {
    background: rgba(255,255,255,0.2);
}


#web_bg {
    background: url(https://cdn.jsdelivr.net/gh/Fake-star/picture/20210430232515.png)
}

.layout>div:first-child:not(.recent-posts){
    background: rgba(255,255,255,0.95);
}


/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts>.recent-post-item, .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,0.3);
}


/* 页脚透明 */

#footer {
    background: transparent !important;
}
